<div class="container">
  <div class="row white-bg grey-border dashboard-panel">
    <div class="col-4">
      <div class="avatar"></div>
      <%= @user.first_name %>, <%= @user.last_name %><br>
      <%= link_to "my events", event_index_path %><br>
      <%= link_to "matches", "#" %><br>
      <%= link_to "my profile", "#" %>

    </div>
    <div class="col-8">

    </div>
  </div>
</div>
