
<div class="container">
  <div class="row">
    <div class="col-4">
      <%= @user.first_name %>, <%= @user.last_name %>
      <%= link_to "my events", "#" %>
      <%= link_to "matches", "#" %>
      <%= link_to "my profile", "#" %>

    </div>
    <div class="col-8">

    </div>
  </div>
</div>
